<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.Listeners"></listener>
		<listener class-name="utilities.AnnotationTransformer"></listener>
	</listeners>
	<test name="Test" parallel="false" thread-count="5" preserve-order="true">
<!-- 	<groups>		
	   <run>		
	    	<include name="smokeTests" />		
	   </run>		
  </groups>  -->
		<classes>
			<class name="tests.BOPIS_CSROrder" />
            <class name="tests.SFS_CSROrder" />
		    <class name="tests.STS_CSROrder" /> 
		    <class name="tests.STS_RemorseCancelEntireOrder" />
		    <class name="tests.STS_SLMQ_Visa" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->